doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Node.js Creativity Gym
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    navigation.nav
      .container
        a.nav__logo(href='/') liveQandA
        div
          if(user)
            a.nav__link(href='/u/'+ user.local.username)= user.local.username
            a.nav__link(href='/logout') Log out
          else
            a.nav__link(href='/login') Log in
            a.nav__link(href='/signup') Sign Up
    .container
      header
        h1 #{title}
        p #{description}
        p Moderator: #{moderator}
        if(user)
          input#currentUsername(type='hidden', value=user.local.username, name='currentUsername')
        span= time
        ul
          li user1
          li user2
      content
        if(user)
          form#askQuestion.form.form--inline(name='askQuestion', method='POST', action='/discussion/askQuestion')
            input.askQuestion.form--inline__input(type='text', name='question', placeholder='Your question')
            input#discussionID(type='hidden', value=discussionID, name='discussionID')
            button#questionSubmit.form--inline__btn(type='submit', name='questionSubmit') Ask
        else
          p Log in or sign up to ask a question.
        
        .content
          if questions
            each question in questions
              .thread
                .thread__question
                  div(class=question.id)
                      .comment.comment--question
                        img.comment__profilepic(src='https://s3.amazonaws.com/uifaces/faces/twitter/whale/48.jpg', alt='')
                        div
                          a.comment__author= question.username
                          span.comment__text= question.question
                      if comments
                        .thread__answers
                          ul(class=question.id)
                            each comment in comments
                              if (comment.questionID.toString() ==  question._id.toString())
                                li
                                  .comment.comment--answer
                                    img.comment__profilepic(src='https://s3.amazonaws.com/uifaces/faces/twitter/whale/48.jpg', alt='')
                                    div
                                      a.comment__author= comment.username
                                      span.comment__text= comment.comment
                          if(user)
                            form#postComment.formComment.form.form--inline(name='postComment', method='POST', action='/discussion/postComment')
                              input#placeComment.placeComment.form--inline__input(type='text', name='comment', placeholder='Your comment')
                              input#questionID(type='hidden', value=question._id, name='questionID')
                              input#discussionIDComment(type='hidden', value=discussionID, name='discussionID')
                              button#commentSubmit.form--inline__btn(type='submit', name='commentSubmit') Comment
                          else
                            p Log in or sign up to comment.
                          
                          
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js')
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='../assets/js/discussion.js')
    if(user)
      script.
        var socket = io();
      
        $('.formComment').each(function(){
          var $this = $(this);
          var user = "#{user.local.username}";
          $this.submit(function(){
            var commentDetails = {comment: $this.find($(".placeComment")).val(), questionID: $this.find('input[type="hidden"]').val(), user: user, discussionID: $("#discussionID").val()};
            socket.emit('comment', commentDetails);
            $this.find($('.placeComment')).val('');
            return false;
          });
        });
        
       
        
        socket.on('comment', function(msg){
        var questionID = msg.questionID;
        var comment = msg.comment;
        $("."+questionID+" ul").append('<li><div class="comment comment--answer"><img class="comment__profilepic" src="https://s3.amazonaws.com/uifaces/faces/twitter/whale/48.jpg" alt=""><div><a class="comment__author">'+ "#{user.local.username}" +'</a><span class="comment__text">'+comment+'</span></div></div></li>');
        });
    else
      script.
        var socket = io();
        
        socket.on('comment', function(msg){
        var questionID = msg.questionID;
        var comment = msg.comment;
        $("."+questionID+" ul").append('<li><div class="comment comment--answer"><img class="comment__profilepic" src="https://s3.amazonaws.com/uifaces/faces/twitter/whale/48.jpg" alt=""><div><a class="comment__author">'+ "Bob  " +'</a><span class="comment__text">'+comment+'</span></div></div></li>');
        });